.content {
    clear: both;
    max-width: 960px;
    margin: 0 auto;
}

.leftbar {
    min-height: 500px;
    background-color: #e6b6e6;
}

.lot {
    /*background-color: #c8d7ef;*/
    /*border: 1px solid #c8d7ef;*/
    border: 1px solid transparent;

    /*height: 200px;*/
}

.img {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 20px 20px 20px 20px;
}

.sortbar {
    border: dashed #000000 1px;
}

.tab {
    padding: 10px;
}

.type {
    font: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: .90em;
}

.address {
    font-size: .85em;
    font-weight: bold;
}

.region {
    font-size: .80em;

}

.common_info {
    font-size: .85em;
}

.link, .link:hover{
    color: inherit;

}

.lot:hover {
    border: 1px green solid;
    background-color: rgba(0, 255, 0, .1);


}