{%  extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Недвижимость от банков – выгодная сделка.</h1>

                    <p>Любой человек мечтает о семейном гнездышке, где можно уединиться, поэтому своя  недвижимость для нас столь важна. В современной экономической ситуации  немногие могут себе позволить приобрести заветную жилплощадь – высокая стоимость кв.м и низкие зарплаты явно не способствуют осуществлению подобных планов. Но не будем забывать “кто ищет, тот всегда найдет”. Обычно люди находят продавцов недвижимости на специализированных сайтах и в газетах, там много объявлений, однако мы забываем о еще одной платформе с информацией – банках.</p>
                    <p>Конфискованная банками недвижимость – возможность купить дом по цене ниже рыночной. На нашем сайте мы предоставляем возможность ознакомиться с ассортиментом крупных банков  Украины – Приватбанком и ПУМБ. Некоторые лоты предоставляются не только к продаже, а также в кредит или аренду. Так что скорее всего вы найдете то, что будет вам “по карману”.</p>
                    <p>Наша команда стремится сделать удобную интернет-платформу, чтобы продажа недвижимости от банков перестала быть закрытой информацией, ей наконец-то могли воспользоваться обычные люди.</p>
                    <p>Мы не ставим перед собой получение выгоды, желание донести до населения нашей страны еще один способ поиска квартиры, дома, земли и др.вида недвижки – вот наша главная цель.</p>
                    <p>Даже если вас интересует аренда коммерческой недвижимости, то и здесь вам поможет наш сайт. На данный момент мы реализовали фильтр, по которому можно отсортировать все предложения по цене, области, конкретному городу, количеству комнат, площади, но мы будем продолжать совершенствоваться!</p>
                    <p>Искренне надеемся, что наш небольшой интернет-сайт поможет вам купить квартиру в любом месте нашей страны по самой выгодной цене.</p>
                    <p>Будем признательны за ваши отзывы и рекомендации, которые вы можете отправить через <a href="#form_feedback">форму обратной связи</a>.</p>

                    <p class="text-right"><i>С уважением, Администрация.</i></p>


                <div id="form_feedback" class="text-center">
                    <h2 >Форма обратной связи</h2>

                    <form action="">

                        <div class="input-group" style="margin: 2px 0">
                            <span class="input-group-addon" id="sizing-addon1">Имя</span>
                            <input type="text" id="user_name" class="form-control" name="user" aria-describedby="sizing-addon1" style="margin: 0 "/><br>
                        </div>
                        <div class="input-group" style="margin: 2px 0">
                            <span class="input-group-addon" id="sizing-addon1">E-mail</span>
                            <input type="text" id="user_email" class="form-control" name="email" aria-describedby="sizing-addon1" style="margin: 0"/><br>
                        </div>


                        <textarea name="comment" id="information" class="form-control" rows="3" placeholder="Ваш комментарий"></textarea><br>
                    </form>
                </div>

            </div>
        </div>

    </div>


{% endblock %}