<!DOCTYPE html>
<html>
<head lang="en">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>Недвижимость в Украине от банков</title>
    <meta charset="UTF-8">
    <meta name="description" content="Недвижимость в Украине от банков"/>
    <meta name="keywords" content="недвижимость, продажа недвижимости, покупка недвижимости, квартиры от банков, купить квартиру в украине, купить квартиру в одессе недорого, недвижимость в украине недорого, продажа коммерческой недвижимости, земельные участки недорого украина"/>

    <script>
        function sort() {
            var direction;
            if ($('#sortByPrice').hasClass('green')) {
                if ($('#sortByPrice').hasClass('glyphicon-sort-by-attributes'))
                    location.assign(self.location['href'].split('?')[0] + '?sort=desc');
                else
                    location.assign(self.location['href'].split('?')[0]);
            } else {
                location.assign(self.location['href'].split('?')[0] + '?sort=asc');
            }
        }
    </script>
</head>
<body>
{#navigation top#}
<div class="content">
<div class="container">
    <div class="row">


<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        {# Brand data #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Confiscated</a>
        </div>
        {# data for toggling #}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ url_for('index') }}">Главная<span class="sr-only">()</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<script type="text/javascript">
        $( "#regionSelector" ).change(function() {
            var citySelector = $( '#citySelector' );
            citySelector.empty();
            var option = document.createElement('option');
            option.value = '0';
            option.innerHTML = 'Все города';
            citySelector.append(option);
            $.post('/get_cities', {
                region: $( "#regionSelector option:selected").val()
            }).done(function(cities){
                for (var key in cities){
                    var opt = document.createElement('option');
                    opt.value = cities[key].toString();
                    opt.innerHTML = key;
                    citySelector.append(opt);
                }
            })
        });
    </script>
    </div>
</div>
</div>
</body>
</html>