<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>ConfiskatWeb</title>
     <style type="text/css">
   		.filters{
   			min-width: 100px !important;
   			background-color: #cbffbe;
   		}
   		input, select{
   			margin: 5px;
   		}
   		.form-inline input{
   			width: 70px !important;
   		}
  </style>

</head>
<body>
{#navigation top#}
<div class="content">
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        {# Brand data #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        {# data for toggling #}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Link<span class="sr-only">()</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<script type="text/javascript">
        $( "#regionSelector" ).change(function() {
            var citySelector = document.getElementById('citySelector');

            $.post('/get_cities', {
                region: $( "#regionSelector option:selected").val()
            }).done(function(cities){
                for (var key in cities){
                    var opt = document.createElement('option');
                    opt.value = cities[key].toString();
                    opt.innerHTML = key;
                    citySelector.appendChild(opt);
}
            })

        });
    </script>
</div>
</body>
</html>