<div class="lot">
    <div class="row">
        <a href="{{ lot.link }}" class="link" target="_blank">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-4 text-center">

            <div class="img">
                <img src="{{ lot.bank.logo }}" class="logo">
                {% if lot.photo %}
                <img src="{{ lot.photo[0].replace('carousel', 'thumb') }}">
                {% else %}
                <img src="http://fakeimg.pl/160/?text=No Photo">
                {% endif %}
            </div>

        </div>
        </a>
        <div class="col-lg-4 col-md-7 col-sm-6 col-xs-4 tab" style="position:relative;">
        <a href="{{ lot.link }}" class="link" target="_blank">
        <dl>
            <dd><span class="text-center text-uppercase type">{{ lot.type.name }}</span></dd>
            <dd><span class="text address">{{ lot.address.city.name }}<br>{{ lot.address.street }}</span></dd>
            <dd><span class="text region">{{ lot.address.region.name }}</span></dd>
        </dl>
        </a>
        <span class="common_info">
            {% if lot.level != -1 %}
                <label>Level:</label> <span>{{ lot.level }}</span><br>
            {% endif %}
            {% if lot.rooms != -1 %}
            <label>Rooms:</label> <span>{{ lot.rooms }}</span><br>
            {% endif %}
            {% if lot.square and lot.square.common %}
                <label>Square(m<sup>2</sup>):</label> {{ lot.square.common }}
                {% if lot.square.living %}
                    / {{ lot.square.living }}
                {% endif %}
            {% endif %}
        </span>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-8 col-xs-4 tab right">
            <label style="margin-left: 40px">Price: <b class="price">{{ '{0:,}'.format(lot.price) }}</b> UAH</label>
            {% if lot.price_credit %}
            <label style="margin-left: 40px">Price credit: {{ '{0:,}'.format(lot.price_credit) }} UAH</label>
            {% endif %}
            {% if lot.price_rent %}
            <label style="margin-left: 40px">Price rent: {{ lot.price_rent }} UAH</label>
            {% endif %}
        </div>
    </div>
{#    <div class="row text-center">Footer</div>#}
</div>
<hr>