{% block sort %}
<div class="sortbar text-right">
    <label>Sort by:</label>
    <a href="javascript:sortBy('date');" class="link"><label>Date <span class="glyphicon {% if session['sort_type'] == 'date' and session['direction'] == 'desc' %} glyphicon-sort-by-attributes-alt {% else %} glyphicon-sort-by-attributes {% endif %}" id="sortByDate"></span></label></a> |
    <a href="javascript:sortBy('price');" class="link"><label>Price <span class="glyphicon {% if session['sort_type'] == 'price' and session['direction'] == 'desc' %} glyphicon-sort-by-attributes-alt {% else %} glyphicon-sort-by-attributes {% endif %}" id="sortByPrice"></span></label></a>&nbsp;
</div>
{% endblock %}