<div class="sortbar text-right">
    <label>Сортировка по:</label>
    <a href="javascript:sort();" class="link">
        <label>цене
            <span class="glyphicon
                {% if sort %}
                    {% if sort == 'desc' %}
                        glyphicon-sort-by-attributes-alt green
                    {% elif sort == 'asc' %}
                        glyphicon-sort-by-attributes green
                    {% else %}
                        glyphicon-sort-by-attributes
                    {% endif %}
                {% endif %}" id="sortByPrice">
            </span>
        </label></a>&nbsp;
</div>